*  {
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing:border-box;
    vertical-align:top;
    font-size:1.8vw;
    font-family:Arial, Helvetica, sans-serif
}
#header {
    height:5vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 0px 15%;
    color:white;
    background-color: #333333;
}
h1 {
    font-size: 3vw;
}
#nav {
    display:flex;
    align-items: center;
}
#nav a {
    color:#CCCCCC;
    text-decoration: none;
    padding:1vw 2vw;
    font-size:1.4vw;
}
#nav button {
    padding:.5vw 2vw;
    align-self:center;
    background-color:#14A3B8;
    color:white;
    box-shadow: 10px 10px 10px black;
    font-size:1.8vw;
}
#container {
    width:70%;
    margin: 2.5vw auto;
    display:flex;
    justify-content:space-between;
    align-items: start;
}
/* LEFT HAND SIDE */
#left {
    flex:2;
}
#blue_band {
    height:9vw;
    background-color:#14A3B8;
}
img[alt="profile pic"] {
    border-radius: 50%;
    height:9vw;
    position:relative;
    top:4.5vw;
    left: 2.5vw;
    border:#CCCCCC .3vw solid;
}
#user_info {
    padding: 6vw 2.5vw 2.5vw 2.5vw;
    margin-bottom:2.5vw;
}
.gray_border {
    border-left:#CCCCCC .3vw solid;
    border-right:#CCCCCC .3vw solid;
    border-bottom:#CCCCCC .3vw solid;
}
#user_info h1 {
    margin-bottom:1vw;
}
img[alt="map-marker"] {
    height:2vw;
    margin-bottom:1.5vw;
}
#user_info p {
    margin-bottom:1.3vw;
}
img[alt="gear icon"] {
    height:2.2vw;
}
/* LEFT BOTTOM   */
#education h4 {
    background-color:#333333;
    color:#CCCCCC;
    padding:1vw 3vw;
}
#education h3 {
    padding:1vw 3vw;
    font-size:2.1vw;
}
#p1 {
    color:gray;
    padding:0vw 0vw 1vw 3vw;
}
#p2 {
    padding:0vw 0vw 3vw 3vw;
}
/* RIGHT HAND SIDE */
#right {
    flex:1.1;
    margin-left: 2.5vw;
}
#right img {
    height:3vw;
    border-radius: 50%;
}
#requests {
    margin-bottom:2.5vw;

}
#right h4 {
    background-color:#333333;
    color:#CCCCCC;
    padding:1vw;
    font-size:1.7vw;
    display:flex;
    justify-content: space-between;
}
#span1, #span2 {
    background-color:#CCCCCC;
    color:#333333;
    border-radius:50%;
    width:2.2vw;
    height:2.2vw;
    display:inline-block;
    text-align: center;
}
#span2 {
    width:4.4vw;
    margin-right:1vw;
}
#right h3 {
    padding:1vw;
    font-size:2.1vw;
}
#right h3 span {
    display:inline-block;
    width: 10vw;
    padding-top:.5vw;
    padding-left:1vw;
}
/* RIGHT BOTTOM */
#right a {
    display:inline-block;
    width:100%;
    padding:1vw;
}
/* JAVASCRIPT CLASSES */
.background_pink {
    background-color: pink;
}